<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Register</h1>
          <h6>Register Yourself!</h6>
        </div>
        <form>
          <form>
            <div class="mb-3">
              <label for="exampleInputName1" class="form-label"
                >Full Name</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputName1"
                placeholder="Johny"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="john.doe@gmail.com"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputMobileNumber1" class="form-label"
                >Mobile Number</label
              >
              <input
                type="number"
                class="form-control"
                id="exampleInputMobileNumber1"
                placeholder="885 888 888"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="******"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputRePassword1" class="form-label"
                >RePassword</label
              >
              <input
                type="rePassword"
                class="form-control"
                id="exampleInputRePassword1"
                placeholder="******"
              />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Register</button>
            <a style="color: #fff; margin-top: 10px" href="/login"
              >Alredy registered? Click to login!</a
            >
          </form>
        </form>
      </div>
    </div>
  </div>
</div>
