<header>
  <div class="navbar navbar-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <button *ngIf="isLoggedIn$ | async" routerLink="products" class="btn">
        <i style="font-size: 40px" class="fas fa-shipping-fast text-light"
          >&nbsp;
        </i>
      </button>
      <button
        *ngIf="!(isLoggedIn$ | async)"
        (click)="emptyCart()"
        routerLink="products"
        class="btn"
      >
        <i style="font-size: 40px" class="fas fa-shipping-fast text-light"
          >&nbsp;
        </i>
      </button>

      <strong class="logo-wrap" style="font-size: 30px">E-SHOP</strong>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchTerm"
          (keyup)="search($event)"
          placeholder="search products"
        />
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>

    <div class="mini-navbar-nowrap">
      <div class="mini-navbar" *ngIf="!(isLoggedIn$ | async)">
        <ul>
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
        </ul>
      </div>
      <div class="mini-navbar" *ngIf="isLoggedIn$ | async">
        <ul>
          <li>
            <a routerLink="/profile"
              >{{ (currentUser$ | async).username }}'s Profile</a
            >
          </li>
          <li>
            <a
              href="javascript:void(0);"
              (click)="emptyCart()"
              (click)="logoutHandler()"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
    <p
      *ngIf="message"
      [ngClass]="{
        'error-message': isMessageError,
        'success-message': !isMessageError
      }"
      class="notification error-message"
    >
      {{ message }}
    </p>
    <button *ngIf="isLoggedIn$ | async" routerLink="cart" class="btn">
      <i style="font-size: 40px" class="fas fa-cart-plus text-light"></i>
      <div style="font-size: 10px" class="badge bg-danger">
        {{ totalItem }}
      </div>
    </button>
    <button
      *ngIf="!(isLoggedIn$ | async)"
      (click)="emptyCart()"
      routerLink="cart"
      class="btn"
    >
      <i style="font-size: 40px" class="fas fa-cart-plus text-light">&nbsp; </i>
    </button>
  </div>
</header>
