.transaction {
  padding: 0.3em 0.5em;
  border: 1px solid #999;
  border-radius: 0.3em;
  font-size: 1em;
  margin-top: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.transaction h3 {
  background-color: hsla(205, 46%, 30%, 1);
  border-radius: 0.3em;
  width: 100%;
  padding: 0.3em 1em;
  color: white;
}

.transaction p {
  padding: 1em;
  border-bottom: 1px solid #999;
  font-style: normal;
  text-align: center;
}

.transaction a {
  color: white;
  text-decoration: none;
  background-color: hsla(205, 46%, 30%, 1);
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 5.2em;
  margin: 1em;
}

.transaction ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 1em;
}
