footer {
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(
    90deg,
    hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 100%
  );
}

div {
  justify-content: center;
}

a {
  color: lightblue;
}

footer {
  color: white;
  position: fixed;
  bottom: 0px;
  background-color: pink;
  width: 100%;
}
