<div class="welcome">
  <h3>Welcome!</h3>
  <p>
    It's a simple Shop app where you can search for products, browse different
    categories, add or remove items from your cart, register and edit your
    profile.
  </p>
  <div class="logged">
    <ul>
      <li>
        <a routerLink="/login" *ngIf="!(isLoggedIn$ | async)">
          <i class="fas fa-sign-in-alt"></i>
          Login
        </a>
      </li>
      <li>
        <a routerLink="/products">
          <i class="fas fa-search search-icon"></i>
          Browse Shop
        </a>
      </li>
      <li>
        <a routerLink="/register" *ngIf="!(isLoggedIn$ | async)">
          <i class="fas fa-user-plus"></i>
          Register
        </a>
      </li>
    </ul>
  </div>
</div>
