<ng-container *ngIf="products.length != 0">
  <div class="transaction">
    <h3>Confirm your order!</h3>
    <p>We will contact you within 24 hours!</p>
    <ul>
      <a routerLink="/products" (click)="emptyCart()">
        <i class="fas fa-check"></i>
        Confirm
      </a>
    </ul>
  </div>
</ng-container>
<ng-container *ngIf="products.length == 0">
  <div class="transaction">
    <h3>Failed!</h3>
    <p>Transaction failed you were not charged!</p>
    <ul>
      <a routerLink="/products">
        <i class="fas fa-search search-icon"></i>
        Shop More
      </a>
    </ul>
  </div>
</ng-container>
